.slds-trial-header {
  z-index: 1;
  left: 0;
  right: 0;

  & button {
    border-radius: 0;
    padding: 0 20px;
    margin: 0;

    &:hover {
      background-color: #152F59;
    }

    &:focus {
      box-shadow: 0 0 0 0;
      color: white;
    }
  }

  & button.active {
    background-color: #2C4874;
  }
}
