<div class="slds-trial-header slds-grid slds-is-fixed">
  <div class="slds-grid">
    <ng-container *ngIf="loggedIn; else notLoggedIn">
      <button class="slds-button" routerLink="events" routerLinkActive="active">Events</button>
      <button class="slds-button" routerLink="courses" routerLinkActive="active">Courses</button>
      <button class="slds-button" routerLink="rooms" routerLinkActive="active">Rooms</button>
      <button class="slds-button" routerLink="register" routerLinkActive="active">Register</button>
      <button class="slds-button" (click)="logout()">Logout</button>
    </ng-container>
    <ng-template #notLoggedIn>
      <button class="slds-button" routerLink="login" routerLinkActive="active">Login</button>
    </ng-template>
  </div>
  <div class="slds-grid slds-grid_vertical-align-center slds-col_bump-left">
    <a routerLink="usermanager">
      <span class="slds-m-horizontal_x-small">{{ user?.email }}</span>
    </a>
  </div>
</div>
