<ngl-modal [(open)]="opened">
  <div body>

    <form [formGroup]="buildingForm">
      <ngl-form-element label="Name">
        <input nglFormControl type="text" placeholder="My input" [required]="name.errors?.required" formControlName="name">
      </ngl-form-element>
    </form>
  </div>
  <ng-template ngl-modal-footer>
    <button type="button" nglButton="success" (click)="submit()" >Submit</button>
    <button type="button" nglButton="neutral" (click)="close()">Close</button>
  </ng-template>
</ngl-modal>
