<article class="slds-card">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate">
      <div class="slds-media__body">
        <h2 class="slds-card__header-title">
          <span class="slds-text-heading_small">Login</span>
        </h2>
      </div>
    </header>
  </div>
  <div class="slds-card__body slds-card__body_inner">
    <ngl-notification *ngIf="error" type="alert" severity="error" class="slds-theme--alert-texture">
      <h2>{{error}}</h2>
    </ngl-notification>

    <form [formGroup]="loginForm">
      <ngl-form-element label="Email" class="slds-m-top--small" [error]="email.errors?.email ? 'Email is not valid' : null">
        <input nglFormControl type="text" placeholder="Email" [required]="email.errors?.required" formControlName="email">
      </ngl-form-element>

      <ngl-form-element label="Password" class="slds-m-top--small">
        <input nglFormControl type="password" placeholder="Password" [required]="password.errors?.required" formControlName="password">
      </ngl-form-element>

      <ngl-form-checkbox label="Remember me" class="slds-m-top--small">
        <input nglFormControl type="checkbox" />
      </ngl-form-checkbox>

      <a href="javascript:void(0);" class="slds-text-link_reset slds-text-link slds-m-top--small" style="display: block">Did you forgot your password ?</a>

      <div class="slds-m-top--small">
        <button type="button" nglButton="success" (click)="submit()" [disabled]="loginForm.invalid">Log in</button>
        <button type="button" nglButton="neutral" (click)="reset()">Reset</button>
      </div>
    </form>
  </div>
</article>
