<ngl-modal [(open)]="opened">
  <div body>
    <form [formGroup]="userTypeForm">
      <ngl-notification *ngIf="error" type="alert" severity="error" timeout="2000" class="slds-theme--alert-texture">
        <h2>There are users with this usertype and cannot be deleted</h2>
      </ngl-notification>
      <ngl-form-element label="Name">
        <input nglFormControl type="text" placeholder="Name" [required]="name.errors?.required"
               formControlName="name">
      </ngl-form-element>
    </form>
  </div>
  <ng-template ngl-modal-footer>
    <button type="button" *ngIf="editing" nglButton="destructive" (click)="deleteUserType()">Delete user type</button>
    <button type="button" nglButton="success" (click)="submit()">Submit</button>
    <button type="button" nglButton="neutral" (click)="opened = false">Close</button>
  </ng-template>
</ngl-modal>
