<article class="slds-card">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate">
      <div class="slds-media__body">
        <h2 class="slds-card__header-title">
          <span class="slds-text-heading_small">Change password</span>
        </h2>
      </div>
    </header>
  </div>
  <div class="slds-card__body slds-card__body_inner">
    <ngl-notification *ngIf="errors && errors.length > 0" type="alert" severity="error" class="slds-theme--alert-texture">
      <h2 *ngFor="let error of errors">{{error}}</h2>
    </ngl-notification>
    <ngl-notification *ngIf="success" type="alert" severity="success" class="slds-theme--alert-texture">
      <h2>Your password has been changed</h2>
    </ngl-notification>
    <form [formGroup]="passwordForm">

      <ngl-form-element label="Old password" class="slds-m-top--small">
        <input nglFormControl type="password" placeholder="My input" [required]="oldPassword.errors?.required" formControlName="oldPassword">
      </ngl-form-element>

      <ngl-form-element label="New password" class="slds-m-top--small">
        <input nglFormControl type="password" placeholder="My input" [required]="password.errors?.required" formControlName="password">
      </ngl-form-element>

      <ngl-form-element label="Confirm password" class="slds-m-top--small"
                        [error]="passwordForm.errors?.matchPassword ? 'Password doesn\'t match' : null">
        <input nglFormControl type="password" placeholder="My input" [required]="confirmPassword.errors?.required"
               formControlName="confirmPassword">
      </ngl-form-element>

      <div class="slds-m-top--small">
        <button type="button" nglButton="success" (click)="submit()" [disabled]="passwordForm.invalid">Submit</button>
      </div>
    </form>
  </div>
</article>
