@import 'lds';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Salesforce Sans", Arial, sans-serif;
}

.page-wrapper {
  width: 100%;
  height: 100%;
}

.clickable {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.slds-modal__content {
  overflow: visible;
}

.dropdown__list {
  overflow-y: scroll;
  height: 150px;
}
